<footer>
    <div class="f-info">
        <div class="f-social">
            <a href="https://github.com/chiragjethva03" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/jethvachirag23/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://instagram.com/chirag_jethva_03?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="f-info-brand">Chirag Jethva &copy; All rights reserved</div>
    </div>
</footer>