<nav class="navbar navbar-expand-lg bg-body-black sticky-top" id="sticky">
    <div class="container-fluid">
      <a class="navbar-brand" id="doted" href="/">
        <div class="dote1"></div>
        <div class="dote1"></div>
        
      </a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars" id="icon-color"></i>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id="navbar-ul">
          <li class="nav-item">
            <a class="nav-link" id="custom-nav" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="custom-nav" href="#project">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="custom-nav" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="custom-nav" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="custom-nav" href="#services">Services</a>
          </li>
    
        </ul>
      </div>
      
    </div>
  </nav>